.conclusao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px var(--primary);
}

hr{
    border: solid 2px var(--primary);
}